// $bgColor: linear-gradient(270deg, #375991, rgb(35, 45, 75));
$bgColor: linear-gradient(270deg, rgb(0, 0, 0), rgb(30, 30, 30));
$borderMain: 1px solid rgba(255, 255, 255, 0.15);
$borderMain_hover: 1px solid rgba(255, 255, 255, 0.4);
$shadowMain: 0 5px 30px -5px rgba(0, 0, 0, 0);
$shadowMain_hover: 0 5px 30px -10px rgba(0, 0, 0, .5);
$colorHover: #ffffff1a;
$mainTransition: 0.2s;
$mainFont: laParis;
$italicFont: italic2;

.audioBlock {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
    cursor: pointer;
    transition: $mainTransition;
    &_active {
        background-color: rgba(255, 255, 255, 0.05);
    }
    &__forClick {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 10;
    }
    & img {
        position: relative;
        z-index: 5;
        width: 60px;
        margin-right: 10px;
        border-radius: 10px;
        transition: $mainTransition;
    }
    &__info {
        position: relative;
        z-index: 5;
        &__name {
            max-width: 350px;
            font-size: 18px;
            cursor: pointer;
            font-family: $italicFont;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            & > span {
                color: rgb(200, 200, 200);
                font-size: 14px;
            }
        }
        &__author {
            font-size: 18px;
            color: rgb(200, 200, 200);
            cursor: pointer;
            font-family: $italicFont;
            cursor: pointer;
            transition: $mainTransition;
            &:hover {
                color: rgb(255, 255, 255);
            }
        }
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.03);
    }

    &:hover img{
        transform: scale(0.95);
        filter: grayscale(1);
    }
    &:active img{
        transform: scale(0.85);
    }
}

::selection {
    background: #000; /* Safari */
    }
::-moz-selection {
    background: #000; /* Firefox */
}


.mainBlock {
    padding-top: 50px;
}

body {
    background: $bgColor;
}
body::-webkit-scrollbar {
    display: none;
}

.cursorLight {
    position: absolute;
    top: 0;
    left: 0;
    height: 160px;
    width: 160px;
    z-index: 1;
    // background-color: $colorHover;
    background: red;
    opacity: .7;
    transform: translate(-50%, -50%) scale(1);
    filter: blur(70px);
    transition: background-color .5s, opacity 1s cubic-bezier(0, 0.26, 0.26, 0.99), filter 1s, height 1s, width 1s;
    border-radius: 50%;
    pointer-events: none;
    &_hidden {
        opacity: 0;
    }
    &_down {
        animation: mousedown_cursor_light 1s ease-in-out 1;
    }
}

.bgAlbum {
    position: fixed;
    top: -50px;
    bottom: -50px;
    right: -50px;
    left: -50px;
    z-index: 1;
    opacity: 0;
    transition: 1s;
    filter: grayscale(1);
    & img {
        width: 100%;
        height: 100%;
        filter: blur(50px);
    }
}

header {
    // box-shadow: $shadowMain;
    height: 70px;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: $mainTransition;

    .header__bgBlur {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: -2px;
        z-index: 1;
        // background-color: rgba(0, 0, 0, 0.7); --
        background-color: rgba(15, 15, 15, 0.8);
        backdrop-filter: blur(30px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        opacity: 0;
        transition: $mainTransition;
    }
    .navs {
        position: relative;
        z-index: 10;
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        gap: 20px;
        &__nav {
            font-size: 28px;
            font-family: italic2;
            color: rgba(255, 255, 255, 0.6);
            transition: $mainTransition;
            cursor: pointer;
            &_active {
                color: rgba(255, 255, 255, 1);
            }
            &:hover {
                color: rgba(255, 255, 255, 1);
            }
        }
    }
    .mini_musicPlayer {
        position: absolute;
        top: 5px;
        left: 5px;
        display: flex;
        align-items: center;
        z-index: 99;

        transition: $mainTransition;
        transform: translateX(-23px);
        &:hover {
            transform: translateX(-5px);
        }
        &__volumeRangeBlock {
            transform: rotate(-90deg);
            width: 20px;
            height: 10px;
            display: flex;
            justify-content: center;
            align-items: end;
            margin-right: 2px;
            input[type=range] {
                width: 55px;
                height: 5px;
                border-radius: 2px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                opacity: 0.8;
                transition: 0.2s;
                cursor: pointer;
            }
            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 7px;
                height: 7px;
                background: rgba(160, 160, 160, 1);
                border-radius: 50%;
                cursor: pointer;
                transition: 0.2s;
            }
        }
        &__imgBlock {
            width: 60px;
            height: 60px;
            margin-right: 10px;
            cursor: pointer;
            animation: mini_musicPlayer_img .4s ease-out 1;
            & img {
                width: 100%;
                border-radius: 5px;
                transition: $mainTransition;
            }
            &:hover img{
                // filter: grayscale(1);
                transform: scale(0.9);
            }
            &:active img{
                transform: scale(0.6);
            }
        }
        &__interface {
            transform: translateY(-1px);
            animation: mini_musicPlayer_text .4s ease-out 1;
            display: flex;
            flex-direction: column;
            gap: 2px;
            &__title {
                display: flex;
                & > span {
                    display: block;
                    font-size: 20px;
                    margin-right: 5px;
                    margin-left: 5px;
                    color: rgb(255, 255, 255);
                    font-family: $italicFont;
                    cursor: default;
                }
            }
            &__buttons {
                display: flex;
                gap: 7px;

            }
            &__button {
                overflow: visible;
                cursor: pointer;
                border-radius: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                & img {
                    border-radius: 0px;
                    width: 22px;
                    height: 22px;
                    filter: invert(1);
                    transition: 0.1s;
                }
                &_rightArr {
                    opacity: .8;
                    & img {
                        border-radius: 0px;
                        width: 18px;
                        height: 18px;
                        filter: invert(1);
                        transition: 0.1s;
                    }
                }
                // &_leftArr {
                //     transform: rotate(180deg);
                //     & img {
                //         border-radius: 0px;
                //         width: 20px;
                //         height: 20px;
                //         filter: invert(1);
                //         transition: 0.1s;
                //     }
                // }
                &:hover img{
                    transform: scale(0.95);
                }
                &:active img{
                    transform: scale(0.2);
                }
            }
            &__trackname {
                font-size: 20px;
                color: rgb(255, 255, 255);
                font-family: $italicFont;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 300px;
                & > span {
                    color: rgb(200, 200, 200);
                    font-size: 16px;
                }
            }
            &__author {
                font-size: 20px;
                color: rgb(230, 230, 230);
                font-family: $italicFont;
                cursor: pointer;
                // background-color: rgba(0, 0, 0, 0);
                // border: 1px solid rgba(255, 255, 255, 0);
                // border-radius: 5px;
                transition: $mainTransition;
                &:hover {
                    color: rgb(255, 255, 255);
                    // background-color: rgba(0, 0, 0, 0.5);
                    // border-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}

.mainBlock {
    position: relative;
    z-index: 5;
    margin-top: 70px;
}

.container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(6, minmax(0px, 1fr));
    animation: 0.5s cubic-bezier(0, 0, 0.1, 1) 1 openSitesContent;
    padding-bottom: 100px;
    &__site {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // overflow: hidden;
        padding: 40px;
        // background-color: rgba(0, 0, 0, 0.15); 
        background-color: rgba(15, 15, 15, 0.6); 
        backdrop-filter: blur(30px);
        border: $borderMain;
        // box-shadow: $shadowMain;
        border-radius: 20px;
        cursor: pointer;
        transition: .15s, transform .2s cubic-bezier(0, 0, 0, 0.75);
        &__forHover {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
            // background-color: $colorHover;
            opacity: 0;
            transition: 1s;
            filter: blur(100px);
            border-radius: 20px;
        }
        &__forImg {
            position: relative;
            z-index: 3;
            width: 80px;
            height: 80px;
            & img {
                position: relative;
                z-index: 3;
                display: block;
                width: 100%;
                transition: $mainTransition;
                transform: translateY(0);
                filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, .5));
                -webkit-filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, .5));
            }
        }
        &__nameSite {
            position: absolute;
            bottom: 35px;
            right: 0;
            left: 0;
            z-index: 2;
            // font-size: 22px;
            font-size: 18px;
            text-align: center;
            font-family: italic2;
            cursor: pointer;
            opacity: 0;
            transition: $mainTransition;
            // text-shadow: 0 0 5px rgb(0, 0, 0, 1);
        }
        &:hover {
            border: $borderMain_hover;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            background-color: rgba(255, 255, 255, 0.1);
            transform: scale(1.1);
            z-index: 1;
        }
        &:active {
            transform: scale(0.95);
        }
        &:hover &__nameSite{
            opacity: 0.8;
            bottom: 20px;
        }
        &:hover .imgSites{
            transform: translateY(-15px);
        }
        &:active &__forHover{
            opacity: 1;
            transition: .1s;
        }
    }
}

.playLists {
    // background-color: rgba(0, 0, 0, 0.2); --
    // backdrop-filter: blur(30px); --
    // border: $borderMain;
    box-shadow: $shadowMain;
    // padding: 40px; --
    border-radius: 15px;
    margin-bottom: 50px;
    animation: 0.5s cubic-bezier(0, 0, 0.1, 1) 1 openSitesContent;
    display: none;
    & h2 {
        // text-align: center;
        font-size: 52px;
        font-family: $mainFont;
        margin-top: 0;
        margin-bottom: 30px;
        cursor: pointer;
    }
    &__grid {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(4, minmax(0px, 1fr));
        &__playlist {
            width: 220px;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 20px;
            position: relative;
            display: block;
            transition: $mainTransition;
            animation: 0.5s cubic-bezier(0, 0, 0.1, 1.5) 1 openSites;
            &__img {
                position: relative;
                z-index: 10;
                width: 100%;
                margin-bottom: 5px;
                border-radius: 15px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                transition: $mainTransition;
            }
            &__bgImg {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                filter: blur(30px);
                opacity: 0.3;
                transition: $mainTransition;
            }
            &__name {
                position: relative;
                z-index: 10;
                cursor: pointer;
                text-align: center;
                font-size: 24px;
                font-family: $italicFont;
            }
            &:hover .playLists__grid__playlist__bgImg{
                opacity: 0.8;
            }
            &:hover .playLists__grid__playlist__img{
                border: 1px solid rgba(255, 255, 255, 0.4);
                transform: scale(1.03);
            }
        }
    }
}

.authors {
    box-shadow: $shadowMain;
    border-radius: 15px;
    margin-bottom: 50px;
    animation: 0.5s cubic-bezier(0, 0, 0.1, 1) 1 openSitesContent;
    & h2 {
        // text-align: center;
        font-size: 32px;
        font-family: italic2;
        margin-top: 0;
        margin-bottom: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        & > button {
            font-size: 22px;
            color: rgb(180, 180, 180);
            font-family: italic2;
            background-color: rgba(255, 255, 255, .01);
            border: 1px solid rgba(255, 255, 255, .05);
            border-radius: 5px;
            cursor: pointer;
            transition: .2s;
            &:hover {
                color: rgb(255, 255, 255);
                border-color: rgba(255, 255, 255, .1);
            }
            &:active {
                transform: scale(0.95);
            }
        }
    }
}

.music {
    // background-color: rgba(0, 0, 0, 0.2); --
    // backdrop-filter: blur(30px); --
    // border: $borderMain;
    box-shadow: $shadowMain;
    // padding: 40px; --
    border-radius: 15px;
    margin-bottom: 50px;
    animation: 0.5s cubic-bezier(0, 0, 0.1, 1) 1 openSitesContent;
    & h2 {
        // text-align: center;
        font-size: 32px;
        font-family: italic2;
        margin-top: 0;
        margin-bottom: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        & > button {
            font-size: 22px;
            color: rgb(180, 180, 180);
            font-family: italic2;
            background-color: rgba(255, 255, 255, .01);
            border: 1px solid rgba(255, 255, 255, .05);
            border-radius: 5px;
            cursor: pointer;
            transition: .2s;
            &:hover {
                color: rgb(255, 255, 255);
                border-color: rgba(255, 255, 255, .1);
            }
            &:active {
                transform: scale(0.95);
            }
        }
    }
    &__grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, minmax(0px, 1fr));
        &__audioBlock {
            position: relative;
            display: flex;
            align-items: center;
            padding: 10px;
            width: 442px;
            // background-color: rgba(255, 255, 255, 0.01);
            background-color: rgba(15, 15, 15, 0.6); 
            border: 1px solid rgba(255, 255, 255, 0.05);
            border-radius: 15px;
            cursor: pointer;
            transition: $mainTransition;
            overflow: hidden;
            &_active &__forHover{
                height: 100%;
            }
            &_active {
                border: 1px solid rgba(255, 255, 255, 0.1);
            }
            &__forHover {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 0;
                transition: .25s cubic-bezier(0, 0, 0, 0.75);
                background-color: rgba(255, 255, 255, 0.05);
            }
            &__forClick {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                z-index: 10;
            }
            & img {
                position: relative;
                z-index: 5;
                width: 60px;
                margin-right: 10px;
                border-radius: 10px;
                transition: $mainTransition;
            }
            &__info {
                position: relative;
                z-index: 5;
                &__name {
                    max-width: 350px;
                    font-size: 18px;
                    cursor: pointer;
                    font-family: $italicFont;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    & > span {
                        color: rgb(200, 200, 200);
                        font-size: 14px;
                    }
                }
                &__author {
                    font-size: 18px;
                    color: rgb(200, 200, 200);
                    max-width: 350px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-family: $italicFont;
                    cursor: pointer;
                    transition: $mainTransition;
                    &:hover {
                        color: rgb(255, 255, 255);
                    }
                }
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.03);
            }

            &:hover img{
                transform: scale(0.92);
                // filter: grayscale(1);
            }
            &:active img{
                transform: scale(0.80);
            }
        }
    }
}

.containerMP {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
}

.musicPlayer {
    animation: 0.5s cubic-bezier(0, 0, 0.1, 1) 1 openSitesContent;
    // &__bg {
    //     background-color: rgba(0, 0, 0, 0.2);
    //     backdrop-filter: blur(30px);
    //     padding: 10px 20px 10px 20px;
    //     border-radius: 25px;
    // }
    &__bg:hover &__rangeBox{
        opacity: .5;
        transform: translateY(0);
    }
    &__bg:hover &__interface{
        opacity: 1;
        transform: translateY(0);
    }
    &__imgAlbum {
        border-radius: 15px;
        width: 450px;
        margin-bottom: 15px;
        box-shadow: 0 0 60px -20px rgba(0, 0, 0, 0);
        cursor: pointer;
        transition: $mainTransition;
        animation: 0.5s cubic-bezier(0, 0, 0.1, 1.5) 1 openSites;
        &:hover {
            box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.5);
            transform: scale(0.98);
            filter: grayscale(1);
        }
        &:active {
            transform: scale(0.7);
        }
    }
    &__nameAudio {
        text-align: center;
        font-size: 26px;
        font-family: $italicFont;
        // animation: .8s cubic-bezier(0, 0, 0.1, 1.5) 1 openText_2;
        animation: 1s cubic-bezier(0, 0, 0.1, 1.5) 1 openText;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 450px;
        & > span {
            color: rgb(200, 200, 200);
            font-size: 18px;
        }
    }
    &__author {
        text-align: center;
        font-size: 26px;
        font-family: $italicFont;
        color: rgb(200, 200, 200);
        // animation: .8s cubic-bezier(0, 0, 0.1, 1.5) 1 openText_2;
        animation: 1s cubic-bezier(0, 0, 0.1, 1.5) 1 openText;
        // animation-delay: .1s;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 450px;
        transition: $mainTransition;
        &:hover {
            color: rgb(255, 255, 255);
        }
    }
    &__interface {
        margin-top: 20px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: 1s cubic-bezier(0, 0, 0.1, 1.5) 1 openText;
        opacity: 0;
        // transition: $mainTransition;
        transition: .3s cubic-bezier(0, 0, 0, 0.75);
        transform: translateY(-10px);
        &__button {
            overflow: visible;
            cursor: pointer;
            border-radius: 0px;
            margin-left: 10px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            & img {
                border-radius: 0px;
                width: 32px;
                height: 32px;
                filter: invert(1);
                transition: 0.1s;
            }
            &_rightArr {
                & img {
                    border-radius: 0px;
                    width: 28px;
                    height: 28px;
                    filter: invert(1);
                    transition: 0.1s;
                }
            }
            &_leftArr {
                transform: rotate(180deg);
                & img {
                    border-radius: 0px;
                    width: 28px;
                    height: 28px;
                    filter: invert(1);
                    transition: 0.1s;
                }
            }
            &:hover img{
                transform: scale(0.95);
            }
            &:active img{
                transform: scale(0.2);
            }
        }
    }
    &__rangeBox {
        margin-top: 15px;
        opacity: 0;
        // transition: $mainTransition;
        transition: .3s cubic-bezier(0, 0, 0, 0.75);
        transform: translateY(-10px);
        transition-delay: .15s;
        input[type = range] {
            height: 7px;
            border-radius: 2px;
            width: 100%;
        }
    }

    #block_imgAlbum {
        display: flex;
        justify-content: center;
        transform: scale(0.98);
        transition: .2s;
        filter: grayscale(1);
    }
}

.containerAP {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;

    display: flex;
    justify-content: center;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

.authorPage {
    margin-top: 92px;
    animation: 0.5s cubic-bezier(0, 0, 0.1, 1) 1 openSitesContent;
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__banner {
        width: 1366px;
        height: 350px;
        border: $borderMain;
        position: relative;
        border-radius: 15px;
        z-index: 3;
        padding-left: 40px;
        padding-bottom: 20px;
        display: flex;
        align-items: end;
        &__img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            border-radius: 15px;
            z-index: 2;
            & > img {
                width: 100%;
            }
            &_noneImage img{
                filter: blur(10px);
                transform: scale(1.5);
            }
        }
        &__shadow {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            & > img {
                width: 100%;
                height: 100%;
                filter: blur(300px);
            }
        }
        &__bgForName {
            position: absolute;
            left: -400px;
            bottom: -100px;
            z-index: 3;
            width: 800px;
            height: 200px;
            background-color: rgba(0, 0, 0, .5);
            filter: blur(30px);
            display: none;
        }
    }
    &__avatarBlock {
        position: relative;
        z-index: 5;
        width: 200px;
        height: 200px;
        // margin: auto;
        // margin-bottom: 10px;
        animation: 0.5s cubic-bezier(0, 0, 0.1, 1.5) 1 openSites;
        border: $borderMain;
        border-radius: 50%;
        box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 1);
        // margin-top: -110px;
        display: none;
        & img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    &__nameAuthor {
        font-family: $italicFont;
        font-size: 92px;
        text-align: center;
        animation: 1s cubic-bezier(0, 0, 0.1, 1.5) 1 openText;
        position: relative;
        z-index: 5;
        text-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    }
    &__grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, minmax(0px, 1fr));
        margin-top: 50px;
        min-width: 1000px;
        // padding: 10px; --
        // background-color: rgba(0, 0, 0, 0.2); --
        // backdrop-filter: blur(30px); --
        box-shadow: $shadowMain;
        border-radius: 15px;
        // &__audio {
        //     position: relative;
        //     display: flex;
        //     align-items: center;
        //     padding: 10px;
        //     background-color: rgba(255, 255, 255, 0);
        //     border-radius: 10px;
        //     cursor: pointer;
        //     animation: 0.5s cubic-bezier(0, 0, 0.1, 1.5) 1 openSites;
        //     transition: $mainTransition;
        //     &_active {
        //         background-color: rgba(255, 255, 255, 0.05);
        //     }
        //     &__forClick {
        //         position: absolute;
        //         top: 0;
        //         right: 0;
        //         left: 0;
        //         bottom: 0;
        //         z-index: 10;
        //     }
        //     & img {
        //         position: relative;
        //         z-index: 5;
        //         width: 60px;
        //         margin-right: 10px;
        //         border-radius: 10px;
        //         transition: $mainTransition;
        //     }
        //     &__info {
        //         position: relative;
        //         z-index: 5;
        //         overflow: hidden;
        //         &__name {
        //             font-size: 18px;
        //             cursor: pointer;
        //             font-family: $italicFont;
        //             white-space: nowrap;
        //             overflow: hidden;
        //             text-overflow: ellipsis;
        //             max-width: 300px;
        //             & > span {
        //                 color: rgb(200, 200, 200);
        //                 font-size: 14px;
        //             }
        //         }
        //         &__author {
        //             font-size: 18px;
        //             color: rgb(200, 200, 200);
        //             cursor: pointer;
        //             font-family: $italicFont;
        //             cursor: pointer;
        //             transition: $mainTransition;
        //             &:hover {
        //                 color: rgb(255, 255, 255);
        //             }
        //         }
        //     }
        //     &:hover {
        //         background-color: rgba(255, 255, 255, 0.03);
        //     }

        //     &:hover img{
        //         transform: scale(0.95);
        //         filter: grayscale(1);
        //     }
        //     &:active img{
        //         transform: scale(0.85);
        //     }
        // }
    }
}

.addSong {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    background-color: rgb(30, 30, 30, .7);
    display: none;
    opacity: 0;
    align-items: center;
    transition: .5s;
    &__exit {
        position: absolute;
        top: 20px;
        right: 20px;
        font-family: italic2;
        font-size: 22px;
        color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        transition: .2s;
        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }
    &__inner {
        display: flex;
        align-items: top;
        justify-content: center;
        width: 100%;
        height: 700px;
        gap: 30px;
        animation: to_bottom .5s cubic-bezier(0, 0, 0.1, 1.5) 0s 1;
        &__left {
            width: 400px;
        }
        &__right {
            & > h3 {
                font-family: italic2;
                font-size: 22px;
                color: #fff;
                display: block;
                margin-bottom: 5px;
                margin-top: 0;
            }
        }
    }
    & form {
        width: 100%;
        & > .form_part {
            margin-bottom: 10px;
            & > label {
                font-family: italic2;
                font-size: 22px;
                color: #fff;
                display: block;
                margin-bottom: 5px;
            }
            & > input[type="text"] {
                width: 100%;
                box-sizing: border-box;
                font-family: italic2;
                color: #fff;
                font-size: 20px;
                display: block;
                background-color: rgba(255, 255, 255, .03);
                border: none;
                border-radius: 10px;
                padding: 20px;
                box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.35);
                outline: none;
            }
            & > input[type="file"] {
                overflow: hidden;
                width: 158px;
                transition: .2s;
                box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.35);
                border-radius: 10px;
                &::before { 
                    width: 158px;
                    display: inline-block;
                    text-align: center;
                    box-sizing: border-box;
                    font-family: italic2;
                    color: #fff;
                    font-size: 20px;
                    background-color: rgba(255, 255, 255, .03);
                    border: none;
                    border-radius: 10px;
                    padding: 20px;
                    outline: none;
                    content: 'Выбрать файл';
                    cursor: pointer;
                    transition: .2s;
                }
                &:hover::before {
                    background-color: rgba(255, 255, 255, .1);
                }
                &:active::before {
                    transform: scale(0.95);
                }
            }
        }
    }
    &__code {
        background-color: rgba(255, 255, 255, .03);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.35);
        width: 850px;
        //max-width: 850px;
        position: relative;
        overflow: hidden;
        & > code {
            position: relative;
            z-index: 5;
            font-size: 16px;
            color: #1ea0eb;
            & ._blue {
                color: #1ea0eb;
            }
            & ._green {
                color: #23d981;
            }
        }
        & > button {
            position: relative;
            z-index: 5;
            margin-top: 20px;
            display: block;
            background-color: rgba(255, 255, 255, 0.01);
            border-radius: 7px;
            border: 1px solid rgba(255, 255, 255, 0.05);
            font-family: italic2;
            font-size: 18px;
            color: rgb(255, 255, 255, 0.7);
            cursor: pointer;
            transition: .2s;
            width: 70px;
            height: 30px;
            &:hover {
                color: rgba(255, 255, 255, 1);
            }
            &:active {
                transform: scale(0.95);
            }
        }
        &__inf {
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 0;
            opacity: 0;
            background-color: rgba(255, 255, 255, 0);
            animation: code_inf 1.2s cubic-bezier(0, 0, 0, 0.75) 1;
        }
    }
    &_open {
        opacity: 1;
    }
}

.forLoading {
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background: $bgColor;
    transition: .6s;
}